* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  /* font-size: 3.5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
  overflow-x: hidden;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  color: white;
  border-radius: 80px;
  flex: 0.5;
  cursor: pointer;
  margin: 10px;
  position: relative;
  transition: flex 0.5s ease-in;
}

.panel h3 {
  font-size: 2.5rem;
  position: absolute;
  bottom: 35px;
  left: 60px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media screen and (max-width: 769px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
